<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
        {{!-- Be sure to link CSS --}}
		<title>MinuteDJ</title>
        {{!-- Update title once name is finalized. --}}
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/cats.js"></script>
        {{!-- Will need to update this with our own js files. --}}
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
